<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>
    <script async src="static/opencv.js" onload="openCvReady();"></script>
    <script src="static/utils.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body onload="configure();">
    <form method="POST" action="/login">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Employee id</label>
        <input
          type="Integer"
          class="form-control"
          id="empid"
          name="empid"
          placeholder="Enter employeeid"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter name"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="emppass"
          name="emppass"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <img src="{% url 'video_feed' %}" />
    {%comment %}
    <div class="video-outer">
      <video id="cam_input" height="480" width="640"></video>
      <canvas id="canvas_output"></canvas> {% endcomment %}{% comment %}
    </div>
    {% endcomment %} {% comment %}
    <div class="container">
      <div id="my_camera"></div>
    </div>
    <div id="resutls"></div>
    <button type="button" onclick="savesnap();">save</button> {% endcomment %}
  </body>
  {% comment %}
  <script type="text/javascript">
    function configure() {
      cv["onRuntimeInitialized"] = () => {
        let video = document.getElementById("cam_input");
        navigator.mediaDevices
          .getUserMedia({ video: true, audio: false })
          .then(function (stream) {
            video.srcObject = stream;
            video.play();
          })
          .catch(function (err) {
            console.log("An error occurred! " + err);
          });
        let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
        let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
        let gray = new cv.Mat();
        let cap = new cv.VideoCapture(cam_input);
        let faces = new cv.RectVector();
        let classifier = new cv.CascadeClassifier();
        let utils = new Utils("errorMessage");
        let faceCascadeFile = "haarcascade_frontalface_default.xml"; // path to xml
        utils.createFileFromUrl(faceCascadeFile, faceCascadeFile, () => {
          classifier.load(faceCascadeFile); // in the callback, load the cascade from file
        });
        const FPS = 24;
        function processVideo() {
          let begin = Date.now();
          cap.read(src);
          src.copyTo(dst);
          cv.cvtColor(dst, gray, cv.COLOR_RGBA2GRAY, 0);
          try {
            classifier.detectMultiScale(gray, faces, 1.1, 3, 0);
            console.log(faces.size());
          } catch (err) {
            console.log(err);
          }
          for (let i = 0; i < faces.size(); ++i) {
            let face = faces.get(i);
            let point1 = new cv.Point(face.x, face.y);
            let point2 = new cv.Point(
              face.x + face.width,
              face.y + face.height
            );
            cv.rectangle(dst, point1, point2, [255, 0, 0, 255]);
          }
          cv.imshow("canvas_output", dst);
          // schedule next one.
          let delay = 1000 / FPS - (Date.now() - begin);
          setTimeout(processVideo, delay);
        }
        // schedule first one.
        setTimeout(processVideo, 0);
      };
    }
  </script>
  {% endcomment %} {% comment %}
  <script type="text/javascript" src="static/webcam.min.js"></script>
  <script type="text/javascript">
    function configure() {
      Webcam.set({
        width: 480,
        height: 360,
        image_format: "jpeg",
        jpeg_quality: 90,
      });
      Webcam.attach("#my_camera");
    }
    function savesnap() {
      Webcam.snap(function (data_uri) {
        document.getElementById("resutls").innerHTML =
          '<img id="webcam" src="' + data_uri + '">';
      });
      //Webcam.reset();
      var base64img = document.getElementById("webcam").src;
      document.getElementById("resutls").innerHTML =
        "<p>  " + base64img + "</p>";
    }
  </script>
  {% endcomment %}
</html>
{% comment %} {% extends 'base.html' %} {% block body %}
<form method="POST" action="/login">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Employee id</label>
    <input
      type="Integer"
      class="form-control"
      id="empid"
      name="empid"
      placeholder="Enter employeeid"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter name"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      id="emppass"
      name="emppass"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %} {% endcomment %} {% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body onload="configure();">
    <form method="POST" action="/login">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Employee id</label>
        <input
          type="Integer"
          class="form-control"
          id="empid"
          name="empid"
          placeholder="Enter employeeid"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter name"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="emppass"
          name="emppass"
          placeholder="Password"
          onkeyup="check();"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="emppass1"
          name="emppass1"
          placeholder="Password"
          onkeyup="check();"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">base64 data</label>
        <input
          type="text"
          class="form-control"
          id="base64"
          name="base64"
          placeholder="data"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="container">
      <div id="my_camera"></div>
    </div>
    <div id="resutls"></div>
    <button type="button" onclick="savesnap();">save</button>
  </body>
  <script type="text/javascript" src="static/webcam.min.js"></script>
  <script type="text/javascript">
    function configure() {
      Webcam.set({
        width: 480,
        height: 360,
        image_format: "jpeg",
        jpeg_quality: 90,
      });
      Webcam.attach("#my_camera");
    }
    function savesnap() {
      Webcam.snap(function (data_uri) {
        document.getElementById("resutls").innerHTML =
          '<img id="webcam" src="' + data_uri + '">';
      });
      //Webcam.reset();
      var base64img = document.getElementById("webcam").src;
      document.getElementById("base64").value = base64img;
    }
  </script>
</html>
{% endcomment %}
